{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_content %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary" type="submit">valider</button>
	{{ form_end(form) }}

{% endblock %}
