{% extends 'base.html.twig' %}

{% block title %}Hello TemplateController!
{% endblock %}

{% block body %}

	<section class="py-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-md-3 col-12">
					<div class="list-sideBox py-3 mb-5 sticky-top side-sticky text-center">
						<ul class="list">
							<li>
								<a href="">
									وب سورس
								</a>
							</li>
							{% for category in global_categories %}
								<li>
									<a href="{{ path('template_category', {'title': category.title}) }}">{{ category.title }}</a>
								</li>
							{% endfor %}
							<li>
								<a href="">
									مشاوره طراحی وب
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-7 col-md-9 col-sm-11 col-12 order-lg-2 order-3">
					<div class="title-main text-center mb-5">
						<h3 class="title" data-aos-duration="1500" data-aos="fade-up">
							{{ category.title }}
						</h3>
					</div>
					<div class="desc-simple mb-5">
						<p class="desc mb-3">
							طراحی وبسایت آمیزه ای از دانش، هنر و خلاقیت استفاده از عناصر دیداری، و توان مهندسی در چیدن آن ها کنار یکدیگر است. هنگامی که یک سایت بر مبنای اصول و هارمونی اجزا طراحی شود علاوه بر جذب نگاه دائمی مخاطب، میتواند فارغ از محدودیت های زمان، به اثری جاودانه تبدیل شود.
						</p>
						<p class="desc mb-3">
							امروزه سفارش طراحی وبسایت در لیست اولویت های هر شرکت یا کسب و کاری قرار گرفته است. صاحبان مشاغل میدانند که روز به روز به تعداد کاربران اینترنت افزوده میشود و برخورداری از پایگاهی خوب در دنیای مجازی نیاز به توجه ویژه ای دارد. افزایش تاثیرگذاری یک سایت در جلب نظر مخاطب و همچنین تخصصی شدن حرفه طراحی وبسایت، میطلبد که نگاهی حرفه ای به این مقوله داشته باشیم.
						</p>
					</div>
					<div class="mb-5">
						<img src="assets/img/webdesign-infographic1.png" class="img-fluid d-block mx-auto" alt="">
					</div>
					<div class="desc-simple mb-5">
						<h3 class="title mb-3" data-aos-duration="1500" data-aos="fade-up">
							تاثیر طراحی وب سایت در کسب و کار ها
						</h3>
						<p class="desc mb-3">
							روزانه هزاران وبسایت در جهان، صدها وبسایت در ایران و احتمالا ده ها وبسایت که مستقیم یا غیرمستقیم رقیب شما محسوب میشوند راه اندازی میگردند. یافتن جایگاهی مناسب و محکم در این میان موفقیتی است که به سادگی محقق نمیشود و قواعد انجام آن در تخصص طراحان حرفه ای سایت است.  شرکت تخصصی وب سورس با شناخت جامعی که از فضای مجازی دارد، کسب و کارتان را بررسی کرده و وبسایت شما را مطابق با نیازهایتان و سلیقه مخاطبان شما طراحی میکند. بدین ترتیب میتوانید کسب و کارتان را در دنیای مجازی نیز به درستی معرفی کرده و با
							<a href="" class="text-red">
								طراحی سایت حرفه ای</a>
							، خدمات و محصولات خود را به خوبی به مخاطبانتان ارائه کنید.
						</p>
					</div>
					<div class="media media-Consulting align-items-center mb-5">
						<div class="icon">
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512.076 512.076" style="enable-background:new 0 0 512.076 512.076;" xml:space="preserve">
								<g transform="translate(-1 -1)">
									<g>
										<g>
											<path d="M499.639,396.039l-103.646-69.12c-13.153-8.701-30.784-5.838-40.508,6.579l-30.191,38.818     c-3.88,5.116-10.933,6.6-16.546,3.482l-5.743-3.166c-19.038-10.377-42.726-23.296-90.453-71.04s-60.672-71.45-71.049-90.453     l-3.149-5.743c-3.161-5.612-1.705-12.695,3.413-16.606l38.792-30.182c12.412-9.725,15.279-27.351,6.588-40.508l-69.12-103.646     C109.12,1.056,91.25-2.966,77.461,5.323L34.12,31.358C20.502,39.364,10.511,52.33,6.242,67.539     c-15.607,56.866-3.866,155.008,140.706,299.597c115.004,114.995,200.619,145.92,259.465,145.92     c13.543,0.058,27.033-1.704,40.107-5.239c15.212-4.264,28.18-14.256,36.181-27.878l26.061-43.315     C517.063,422.832,513.043,404.951,499.639,396.039z M494.058,427.868l-26.001,43.341c-5.745,9.832-15.072,17.061-26.027,20.173     c-52.497,14.413-144.213,2.475-283.008-136.32S8.29,124.559,22.703,72.054c3.116-10.968,10.354-20.307,20.198-26.061     l43.341-26.001c5.983-3.6,13.739-1.855,17.604,3.959l37.547,56.371l31.514,47.266c3.774,5.707,2.534,13.356-2.85,17.579     l-38.801,30.182c-11.808,9.029-15.18,25.366-7.91,38.332l3.081,5.598c10.906,20.002,24.465,44.885,73.967,94.379     c49.502,49.493,74.377,63.053,94.37,73.958l5.606,3.089c12.965,7.269,29.303,3.898,38.332-7.91l30.182-38.801     c4.224-5.381,11.87-6.62,17.579-2.85l103.637,69.12C495.918,414.126,497.663,421.886,494.058,427.868z"></path>
											<path style="fill: transparent;" d="M291.161,86.39c80.081,0.089,144.977,64.986,145.067,145.067c0,4.713,3.82,8.533,8.533,8.533s8.533-3.82,8.533-8.533     c-0.099-89.503-72.63-162.035-162.133-162.133c-4.713,0-8.533,3.82-8.533,8.533S286.448,86.39,291.161,86.39z"></path>
											<path style="fill: transparent;" d="M291.161,137.59c51.816,0.061,93.806,42.051,93.867,93.867c0,4.713,3.821,8.533,8.533,8.533     c4.713,0,8.533-3.82,8.533-8.533c-0.071-61.238-49.696-110.863-110.933-110.933c-4.713,0-8.533,3.82-8.533,8.533     S286.448,137.59,291.161,137.59z"></path>
											<path style="fill: transparent;" d="M291.161,188.79c23.552,0.028,42.638,19.114,42.667,42.667c0,4.713,3.821,8.533,8.533,8.533s8.533-3.82,8.533-8.533     c-0.038-32.974-26.759-59.696-59.733-59.733c-4.713,0-8.533,3.82-8.533,8.533S286.448,188.79,291.161,188.79z"></path>
										</g>
									</g>
								</g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
							</svg>
						</div>
						<div class="media-body">
							<strong>
								مشاوره طراحی سایت
							</strong>
							<p class="numb">09339670709</p>
							<p class="text">جهت
								<span>مشاوره رایگان
								</span>در زمینه طراحی سایت با ما تماس بگیرید.</p>
						</div>
					</div>
					<div class="desc-simple mb-5">
						<p class="desc mb-3">
							اگر در حال حاضر یک وبسایت دارید اما زمان زیادی از فعالیت آن میگذرد، پیشنهاد میکنیم که آن را به دست طراحان و تحلیلگران با تجربه وب سورس بسپارید تا سایت شما را بررسی کرده و در صورت نیاز تغییرات و بهینه سازی هایی را روی آن اعمال کنند؛ در این صورت می توانید مطابق با تکنولوژی روز طراحی وبسایت حرکت کنید. اگر هم هنوز سایتی ندارید، تیم مجرب وب سورس آماده است تا با طراحی وبسایت خلاقانه و بروز، مسیر روشنی را در کسب و کار آنلاین برایتان فراهم سازد.
						</p>
					</div>
					<div class="infoTicket mt-5">
						<h6 class="mb-3">
							سوالات خود را از ما بپرسید
						</h6>
						<div class="field-comment">
							<div class="row">
								<div class="col-md-6 col-12">
									<div class="form-group group-input">
										<label>
											نام کاربری
										</label>
										<input class="form-control" type="text" placeholder="">
									</div>
								</div>
								<div class="col-md-6 col-12">
									<div class="form-group group-input">
										<label>
											شماره موبایل
										</label>
										<input class="form-control" type="text" placeholder="">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group group-input">
										<label>
											پیغام
										</label>
										<textarea class="form-control" placeholder="" rows="5"></textarea>
									</div>
								</div>
							</div>
							<div class="text-center">
								<button class="btn btn-blue px-5 btn--ripple rounded-pill text-white">ارسال</button>
							</div>
						</div>
						<div class="list-Views mt-5">
							<div class="item-Views p-3 mb-4">
								<div class="head-box media align-items-center">
									<div class="image">
										<img src="assets/img/user2.svg" class="img-fluid d-block" alt="">
									</div>
									<div class="media-body">
										<h4 class="name">
											مهندس موزرمی
										</h4>
										<span class="time">1 ساعت پیش</span>
									</div>
								</div>
								<div class="body-box">
									<p class="desc">
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ا لورم ایپسوم متن ساختگی
																													                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ا لورم ایپسوم متن ساختگی
																													                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ا لورم ایپسوم متن ساختگی
									</p>
								</div>
								<div class="foot-box d-flex align-items-center flex-wrap">
									<a class="Response text-blue" href="">
										پاسخ
									</a>
								</div>
							</div>
							<div class="item-Views p-3 mb-4">
								<div class="head-box media align-items-center">
									<div class="image">
										<img src="assets/img/user2.svg" class="img-fluid d-block" alt="">
									</div>
									<div class="media-body">
										<h4 class="name">
											مهندس موزرمی
										</h4>
										<span class="time">1 ساعت پیش</span>
									</div>
								</div>
								<div class="body-box">
									<p class="desc">
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ا لورم ایپسوم متن ساختگی
																													                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ا لورم ایپسوم متن ساختگی
																													                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ا لورم ایپسوم متن ساختگی
									</p>
								</div>
								<div class="foot-box d-flex align-items-center flex-wrap">
									<a class="Response text-blue" href="">
										پاسخ
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-5 bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p2.png" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی روبانکس
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p3.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت وبچی
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p7.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت رزرواسیون فلایجو
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p4.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی دیجی متریال
								</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
