{% extends 'base.html.twig' %}

{% block title %}Hello TemplateController!
{% endblock %}

{% block body %}

	<section class="pt-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-md-3 col-12">
					<div class="group-list-side mb-5 bg-Light sticky-top">
						<ul class="smooth-scroll">
							<li>
								<a href="#line1">
									فروشگاهی
								</a>
							</li>
							<li>
								<a href="#line2">
									شرکتی
								</a>
							</li>
							<li>
								<a href="#line3">
									رزرواسیون
								</a>
							</li>
							<li>
								<a href="#line4">
									مدیریتی
								</a>
							</li>
							<li>
								<a href="#line5">
									خلاقانه
								</a>
							</li>
							<li>
								<a href="#line6">
									سایر نمونه کارها
								</a>
							</li>
							<li class="important">
								<a href="">
									مشاوره طراحی سایت
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-12">
					<div class="row" id="line1">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											نمونه کار طراحی فروشگاه اینترنتی
										</h3>
										<p class="desc mb-3">
											با توجه به موفقیت های چشم گیرِ چندین فروشگاه اینترنتی در دو سال اخیر، افراد زیادی به دنبال طراحی سایت فروشگاهی و آغاز کسب و کار خود در فضای آنلاین هستند. برای ورود به این فضا میتوان ایده ها و پیچیدگی های بسیاری را تصور نمود، در نتیجه هر فروشگاه اینترنتی متشکل از دو بخش اصلی خواهد بود، اول امکانات پایه فروشگاهی و پس از آن امکانات اختصاصی برای آن زمینه کاری.
										</p>
										<p class="desc mb-3">
											<span class="text-red">وب سورس</span>
											استانداردهای کیفی مشخصی در طراحی سایت فروشگاهی مورد نظر قرار میدهد که مهمترین آنها عبارتند از؛ پنل کاربری سفارشی و آسان، بهینه سازی سایت برای موبایل و طراحی واکنشگرا، سرعت نمایش بالای صفحات، رعایت اصول و تکنیک های روز سئو و رعایت استانداردهای کدنویسی مطابق با کنسرسیوم جهانی وب.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p2.png" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت فروشگاهی روبانکس
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p4.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت فروشگاهی دیجی متریال
												</a>
											</h3>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<hr class="mb-5"/>
					<div class="row" id="line2">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											نمونه کار طراحی سایت شرکتی
										</h3>
										<p class="desc mb-3">
											طراحی وب سایت شرکتی حرفه ای و جذاب، مهم ترین گام در برندینگ آنلاین برای شرکتها می باشد. یک وب سایت خوب ویترین شرکت در فضای آنلاین است، ویترینی که مردم به واسطه آن نسبت به سطح و کلاس کاری شرکت قضاوت می کنند.
										</p>
										<p class="desc mb-3">
											امروزه بیشتر افراد ابتدا به صورت آنلاین با یک برند آشنا می شوند و در ذهن‌شان تصویر قبلی از برند شرکت در دنیای واقعی ندارند.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p6.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت شرکتی مشاور سیتی
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p3.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت وبچی
												</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="mb-5"/>
					<div class="row" id="line3">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											نمونه کار طراحی سایت رزرواسیون
										</h3>
										<p class="desc mb-3">
											طرااحی وب حرفه ای  رزرواسیون نشان دهنده مدیریت و امکانات یک سایت است که این اطمینان را به کاربر میدهد که با اعتماد کامل رزرو خودش را انجام دهد و از امکانات سایت به خوبی استفاده نماید
										</p>
										<p class="desc mb-3">
											امروزه بیشتر افراد به صورت آنلاین رزروهای خود را از دورترین نقاط دنیا انجام میدهند.چون این کار بسیار سریع و در وقت صرفه جویی می شود.ما این امکانات را به شما میدهیم.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p7.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت رزرواسیون فلاجو
												</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="mb-5"/>
					<div class="row" id="line4">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											نمونه کار طراحی سایت مدیریتی
										</h3>
										<p class="desc mb-3">
											ما با طراحی بهترین پنل های مدیریتی زمینه مناسبی برای مدیریت سایت شمارو فراهم خواهیم کرد تا به آسانی سایت خود را مدیریت کنید.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p8.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت مدیریتی
												</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="mb-5"/>
					<div class="row" id="line5">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											نمونه کار طراحی سایت خلاقانه
										</h3>
										<p class="desc mb-3">
											طراحی سایت خلاقانه یا لندینگ های تبلیغاتی ویژگی های منحصر به فرد خود را نیاز دارد. گاهی اوقات یک لندینگ خلاقانه برای تبلیغات و گاهی برای ارایه گزارشی از یک فعالیت طراحی میشود ولی نکته مشترک در همه آنها استفاده از المان های گرافیکی خاص و حرکت های چشم نواز در صفحه است.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p5.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت آرسین
												</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="mb-5"/>
					<div class="row" id="line6">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											سایر نمونه کارهای طراحی سایت وب سورس
										</h3>
										<p class="desc mb-3">
											<span class="text-red">وب سورس</span>
											علاوه بر زمینه های بالا در طراحی سایت های دیگر مانند خبری، آموزشی، مجله اینترنتی، شخصی، آگهی، پزشکی و … نیز فعالیت های بسیاری انجام داده است و این دست سایت ها را در بخش سایر نمونه کارهای طراحی سایت مشاهده میکنید.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p6.png" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت نیک اندام
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p1.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت ترسیم
												</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
