{% extends 'base.html.twig' %}

{% block title %}Hello TemplateController!
{% endblock %}

{% block body %}

	<section class="py-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-12">
					<div class="Lastdate-project border-bottom pb-3 mb-5 sticky-top side-sticky text-center">
						<div class="date mb-lg-5">
							<div class="day">
								11
							</div>
							<span class="month">فروردین</span>
							<span class="year">1398</span>
						</div>
						<div class="like-project">
							<a class="favourit">
								<i class="far fa-heart"></i>
							</a>
							<span class="text">253</span>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-9 col-sm-10 col-12 order-lg-2 order-3">
					<div class="desc-simple mb-5">
						<h1 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
							طراحی فروشگاه اینترنتی روبانکس
						</h1>
						<p class="desc mb-3">
							وب سورس مفتخر همکاری در زمینه
							<a href="" class="text-red">طراحی وب سایت</a>
							فروشگاهی روبانکس میباشد. سایت فروشگاهی روبانکس یکی از بهترین های سایتها در ایران و خارج از کشور برای فروش انواع هدیه برای خانواده هایی که از هم دورند و شرایط هدیه برای هم ندارند ، روبانکس شرایط هدیه گرفتن را برای هم فراهم کرده.
						</p>
						<p class="desc mb-3">
							علاوه بر این در
							<a href="" class="text-red">طراحی سایت فروشگاهی
							</a>
							روبانکس از کدنویسی پیشرفته ای استفاده شده است. استفاده از جستجوی پیشرفته ، کاربران براحتی میتوانند بهترین خرید را داشته باشند.
						</p>
						<p class="desc mb-3">
							از دیگر بخش های این سایت می توان به طراحی با ظرافت صفحات محصولات، کمک در خرید هدیه، مراحل پیشرفته، تماس با ما و … ذکر کرد.
						</p>
					</div>

					<div class="image shadow-sm border rounded p-2">
						<img src="assets/img/product/mainP2.jpg" class="img-fluid d-block Max_img" alt=""/>

						<div class="mt-5">
							<img src="assets/img/responsive-foot1.png" class="img-fluid d-block Max_img" alt=""/>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-12 order-lg-3 order-2 d-md-block d-none">
					<div class="list-profileUser sticky-top side-sticky mb-3">
						<div class="user-image mb-4">
							<a href="">
								<img class="img-fluid d-block mx-auto rounded-" src="assets/img/user2.svg" alt="avatar">
							</a>
						</div>
						<div class="buttons d-flex justify-content-around align-items-center mb-4">
							<a href="" class="btn rounded-pill" data-toggle="modal" data-target="#login_register">
								ورود
							</a>
							<a href="" class="btn rounded-pill" data-toggle="modal" data-target="#login_register">
								ثبت نام
							</a>
						</div>
						<div class="buttons d-flex justify-content-around align-items-center mb-4">
							<a href="" class="btn rounded-pill" data-toggle="modal" data-target="#login_register">
								خروج
							</a>
							<a href="" class="btn rounded-pill" data-toggle="modal" data-target="#login_register">
								زینب نجفی
							</a>
						</div>
						<ul class="list">
							<li>
								<a href="">
									<i class="far fa-user"></i>
									حساب کاربری
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa fa-shopping-bag"></i>
									محصولات من
								</a>
							</li>
							<li>
								<a href="">
									<i class="far fa-comments"></i>
									نظرات و پاسخ ها
								</a>
							</li>
							<li>
								<a href="">
									<i class="far fa-heart"></i>
									علاقمندی ها
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10 col-sm-11 col-12 border-top pt-5 mt-5">
					<div class="port-footer d-flex align-items-center flex-wrap">
						<a href="" class="link" data-aos-duration="1000" data-aos="fade-left">
							<i class="fa fa-arrow-right ml-2"></i>
							نمونه کار بعدی
						</a>
						<div class="center border rounded-pill p-2 mx-auto d-inline-flex align-items-center flex-wrap justify-content-around">
							<a href="" class="btn btn-outline-red rounded-pill">
								نمونه کار طراحی سایت
							</a>
							<a href="" class="btn btn-outline-red rounded-pill">
								مشاور طراحی سایت
								<strong class="numb">09339670709</strong>
							</a>
						</div>
						<a href="" class="link mr-lg-0 mr-auto" data-aos-duration="1000" data-aos="fade-right">
							نمونه کار قبلی
							<i class="fa fa-arrow-left mr-2"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-5 bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p2.png" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی روبانکس
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p3.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت وبچی
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p7.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت رزرواسیون فلایجو
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p4.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی دیجی متریال
								</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
