<div class="row">
	{% for image in field.value|slice(0, 10) %}
		<div class="col-md-4 mb-2">
			<div class="card" style="width: 15rem;">
				<a href="#" class="ea-lightbox-thumbnail" data-featherlight="#{{ image.id }}" data-featherlight-close-on-click="anywhere">
					<img src="{{ vich_uploader_asset(image) | imagine_filter('thumb') }}" class="img-fluid">
				</a>

				<div id="{{ image.id }}" class="ea-lightbox">
					<img src="{{ vich_uploader_asset(image) | imagine_filter('medium') }}">
				</div>
			</div>
		</div>
	{% endfor %}
</div>
