{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-12">
					<div class="list-sideBox py-3 mb-5 sticky-top side-sticky text-center">
						<ul class="list">
							<li>
								<a href="">
									وب سورس
								</a>
							</li>
							<li>
								<a href="">
									طراحی وب سایت
								</a>
							</li>
							<li>
								<a href="">
									طراحی وب سایت فروشگاهی
								</a>
							</li>
							<li>
								<a href="">
									طراحی وب سایت رزرواسیون
								</a>
							</li>
							<li>
								<a href="">
									طراحی وب سایت شرکتی
								</a>
							</li>
							<li>
								<a href="">
									طراحی وب سایت خلاقانه
								</a>
							</li>
							<li>
								<a href="">
									مشاوره طراحی وب
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-7 col-md-9 col-sm-10 col-12 order-lg-2 order-3">
					<div class="accordion_faq scroll-pane-arrows">
						<div id="accordion" class="accordion-info">
							<div class="card">
								<div class="card-header">
									<a class="card-link" data-toggle="collapse" href="#grouping_faq_1">
										چرا باید وبچی را انتخاب کنیم؟
									</a>
								</div>
								<div id="grouping_faq_1" class="collapse show collapse_box" data-parent="#accordion">
									<div class="card-body">
										<p class="desc">
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
																					                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
																					                                                لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
																					                                                ابزارهای کاربردی می باشد.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<a class="collapsed card-link" data-toggle="collapse" href="#grouping_faq_2">
										چرا باید وبچی را انتخاب کنیم؟
									</a>
								</div>
								<div id="grouping_faq_2" class="collapse collapse_box" data-parent="#accordion">
									<div class="card-body">
										<p class="desc">
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
																					                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
																					                                                لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
																					                                                ابزارهای کاربردی می باشد.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<a class="collapsed card-link" data-toggle="collapse" href="#grouping_faq_3">
										چرا باید وبچی را انتخاب کنیم؟
									</a>
								</div>
								<div id="grouping_faq_3" class="collapse collapse_box" data-parent="#accordion">
									<div class="card-body">
										<p class="desc">
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
																					                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
																					                                                لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
																					                                                ابزارهای کاربردی می باشد.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<a class="collapsed card-link" data-toggle="collapse" href="#grouping_faq_4">
										چرا باید وبچی را انتخاب کنیم؟
									</a>
								</div>
								<div id="grouping_faq_4" class="collapse collapse_box" data-parent="#accordion">
									<div class="card-body">
										<p class="desc">
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
																					                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
																					                                                لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
																					                                                ابزارهای کاربردی می باشد.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<a class="collapsed card-link" data-toggle="collapse" href="#grouping_faq_5">
										چرا باید وبچی را انتخاب کنیم؟
									</a>
								</div>
								<div id="grouping_faq_5" class="collapse collapse_box" data-parent="#accordion">
									<div class="card-body">
										<p class="desc">
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
																					                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
																					                                                لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
																					                                                ابزارهای کاربردی می باشد.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<a class="collapsed card-link" data-toggle="collapse" href="#grouping_faq_6">
										چرا باید وبچی را انتخاب کنیم؟
									</a>
								</div>
								<div id="grouping_faq_6" class="collapse collapse_box" data-parent="#accordion">
									<div class="card-body">
										<p class="desc">
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
																					                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
																					                                                لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
																					                                                ابزارهای کاربردی می باشد.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-12 order-lg-3 order-2 d-md-block d-none">
					<div class="list-profileUser sticky-top side-sticky mb-3">
						<div class="user-image mb-4">
							<a href="">
								<img class="img-fluid d-block mx-auto rounded-" src="assets/img/user2.svg" alt="avatar">
							</a>
						</div>
						<div class="buttons d-flex justify-content-around align-items-center mb-4">
							<a href="" class="btn rounded-pill" data-toggle="modal" data-target="#login_register">
								خروج
							</a>
							<a href="" class="btn rounded-pill" data-toggle="modal" data-target="#login_register">
								زینب نجفی
							</a>
						</div>
						<ul class="list">
							<li>
								<a href="">
									<i class="far fa-user"></i>
									حساب کاربری
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa fa-shopping-bag"></i>
									محصولات من
								</a>
							</li>
							<li>
								<a href="">
									<i class="far fa-comments"></i>
									نظرات و پاسخ ها
								</a>
							</li>
							<li>
								<a href="">
									<i class="far fa-heart"></i>
									علاقمندی ها
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-5 bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p2.png" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی روبانکس
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p3.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت وبچی
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p7.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت رزرواسیون فلایجو
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p4.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی دیجی متریال
								</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
