{% extends 'base.html.twig' %}

{% block title %}Hello LawController!
{% endblock %}

{% block body %}

	<section class="py-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-md-3 col-12">
					<div class="list-sideBox py-3 mb-5 sticky-top side-sticky text-center">
						<ul class="list">
							<li>
								<a href="">
									وب سورس
								</a>
							</li>
							<li>
								<a href="">
									شرایط و قوانین
								</a>
							</li>
							<li>
								<a href="">
									ثبت شکایات
								</a>
							</li>
							<li>
								<a href="">
									مشاوره طراحی وب
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-7 col-md-9 col-sm-11 col-12 order-lg-2 order-3">
					<div class="title-main text-center mb-5">
						<h3 class="title" data-aos-duration="1500" data-aos="fade-up">
							ثبت شکایات
						</h3>
					</div>
					<div class="desc-simple">
						<h3 class="title mb-3">
							مالكیت معنوی
						</h3>
						<p class="desc">
							در صورت بروز هرگونه نارضایتی از خدمات و محصولات ارائه شده توسط مجموعه وب سورس میتوانید برای ثبت شکایات خود با شماره های تماس ،  با گروه در ارتباط باشید. اطلاعات تماس و آدرس در صفحه
							<a href="" class="text-red">تماس با ما
							</a>قابل مشاهده است.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
