{% extends 'base.html.twig' %}

{% block title %}Hello LawController!
{% endblock %}

{% block body %}

	<section class="py-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-md-3 col-12">
					<div class="list-sideBox py-3 mb-5 sticky-top side-sticky text-center">
						<ul class="list">
							<li>
								<a href="">
									وب سورس
								</a>
							</li>
							<li>
								<a href="">
									شرایط و قوانین
								</a>
							</li>
							<li>
								<a href="">
									ثبت شکایات
								</a>
							</li>
							<li>
								<a href="">
									مشاوره طراحی وب
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-7 col-md-9 col-sm-11 col-12 order-lg-2 order-3">
					<div class="title-main text-center mb-5">
						<h3 class="title" data-aos-duration="1500" data-aos="fade-up">
							شرایط و قوانین
						</h3>
					</div>
					<div class="desc-simple mb-5">
						<h3 class="title mb-3">
							مالكیت معنوی
						</h3>
						<p class="desc mb-3">
							كلیه حقوق و منافع محصولات و خدمات مربوط به مالكیت معنوی وب سورس متعلق به وب سورس است. مشتری درك و موافقت می‌کند كه كلیه محتویات و موارد موجود در این موافقت‌نامه، سایر رویه‌ها و وب سایت وب سورس مانند سایر حقوق و قوانین مالكیت تحت حفاظت قوانین مختلف حق نشر، حق امتیاز و علامت تجاری در جمهوری اسلامی ایران می‌باشد و  وب سورس صادرکننده امتیاز آن صریحاً تمامی حقوق مربوط به چنین مواردی را برای خود محفوظ می‌دارد. هیچ‌گونه امتیاز یا حقی تحت هرگونه حق نشر، امتیاز، علامت تجاری، علامت خدماتی یا حق مالكیت یا پروانه دیگر به وسیله این توافق‌نامه به مشترك واگذار نشده است.
						</p>
					</div>
					<div class="desc-simple mb-5">
						<h3 class="title mb-3">
							اقدام قانونی علیه وب سورس
						</h3>
						<p class="desc mb-3">
							مشتریان وب سورس تعهد می‌نمایند چنانچه شكایتی علیه وب سورس در حال اجرا یا ارسال داشته باشند قبل از اقامه دعوی ابتدا با پشتیبانی ، وب سورس را از این موضوع مطلع گردانند و وب سورس فرصت دارد طی حداکثر ۲۰ روز کاری پس از دریافت نامه مذکور تلاش نماید تا شاید بتواند از طرق فنی و غیر فنی مورد کاربر را رفع نماید. قصور از جانب مشتری در مورد ارسال این اطلاعیه به وب سورس به منزله نقض موارد این توافقنامه خواهد بود و بر اساس شرایط نقض توافقنامه اقدام خواهد شد. همچنین هیچ روشی غیر از پست سفارشی جهت این اطلاعیه مورد قبول نمی‌باشد.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-5 bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p2.png" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی روبانکس
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p3.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت وبچی
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p7.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت رزرواسیون فلایجو
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="item-workSample mb-4">
						<div class="image shadow-sm border">
							<a href="">
								<img src="assets/img/product/p4.jpg" class="img-fluid d-block Max_img" alt=""/>
							</a>
						</div>
						<div class="text text-center mt-3">
							<h3 class="title">
								<a href="" class="text-red">
									طراحی سایت فروشگاهی دیجی متریال
								</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
