{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
<div class="container">
    <section class="py-3">
        <h1>About Us</h1>
    </section>
</div>
{% endblock %}
